body{
    background-color: #EDD2F3;  
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 15px;
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-color: gold;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

ol, ul, img, p{
    display: block;
    max-width: 500px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A6CF98;
}

#navbar li{
    float: left;
}

#navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar ul:last-child {
    float: right;
}

#navbar li:hover{
    background-color: black;
}

*{
    margin: auto;
    padding: auto;
}

table tr td{
    border: 1px solid black;
}

th{
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #333;
    color: white;
}

th td{
    padding: 15px;
    text-align: left;
}

tr:hover{
    background-color: #F2789F;
}